<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clipper" version="6.4.0" targetFramework="net472" />
  <package id="Dxflib" version="0.3.0" targetFramework="net472" />
  <package id="HelixToolkit.Wpf" version="2.25.0" targetFramework="net472" />
  <package id="netDxf" version="2022.11.2" targetFramework="net472" />
</packages>